 <style type="text/css">
/* .slider-nav */
    .card-slider-nav {
        position: unset;
    }

    .style {
        width: 100%;
        height: 100%;
    }


    .reviews {
        border: 3px black solid;
        padding: 10px;
        margin: 50px;
        border: dotted;
        background-color: #80808029;
    }

    #demo {
        margin: 15px;
    }

    h4 {
        margin: 10px;
    }

    p {
        margin-left: 10px;
    }

    .header {
        text-align: center;
    }

    #uploadedby {
        padding-top: 10px;
    }

    .ui.button {
        background: #e0e1e247;
    }

    .ui.modal {
        border: dotted;
        color: black;
    }
    </style>