/**
 * Trumbowyg v2.0.0-beta.7 - A lightweight WYSIWYG editor
 * Preformatted text supplier
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

/*
 * Buttons icons
 */
.trumbowyg-button-pane li button.trumbowyg-preformatted-button {
  background-image: url("./images/icons-black.09c157a49dfb.png"); }

.trumbowyg-button-pane li button.trumbowyg-preformatted-button {
  background-position: 5px 5px; }

.trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-preformatted-button {
  background-image: url("./images/icons-white.fa01799db9e6.png"); }

.trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-preformatted-button {
  background-position: 5px 5px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .trumbowyg-button-pane li button.trumbowyg-preformatted-button {
    background-image: url("./images/icons-black-2x.6f8b7dc9217d.png") !important;
    background-size: 25px 25px !important; }
  .trumbowyg-button-pane li button.trumbowyg-preformatted-button {
    background-position: 5px 5px; }
  .trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-preformatted-button {
    background-image: url("./images/icons-white-2x.02740a06e9bc.png") !important; }
  .trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-preformatted-button {
    background-position: 5px 5px; } }
