	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/12/2017 08:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.0487995b13dd.eot");
  src: url("./Flaticon.0487995b13dd.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.4d571a8ce08f.woff") format("woff"),
       url("./Flaticon.5e026624cfa1.ttf") format("truetype"),
       url("./Flaticon.17c98a6a1f92.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.17c98a6a1f92.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-responsive:before { content: "\f100"; }
.flaticon-layers:before { content: "\f101"; }
.flaticon-settings:before { content: "\f102"; }
.flaticon-vector-1:before { content: "\f103"; }
.flaticon-podium:before { content: "\f104"; }
.flaticon-idea:before { content: "\f105"; }