/**
 * Trumbowyg v2.0.0-beta.7 - A lightweight WYSIWYG editor
 * Colors plugin stylesheet for Trumbowyg editor
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

.foreColor-trumbowyg-dropdown,
.backColor-trumbowyg-dropdown {
  width: 276px;
  padding: 7px 5px; }
  .foreColor-trumbowyg-dropdown button,
  .backColor-trumbowyg-dropdown button {
    display: block;
    position: relative;
    float: left;
    text-indent: -9999px;
    height: 20px;
    width: 20px;
    border: 1px solid #333;
    padding: 0;
    margin: 2px; }
    .foreColor-trumbowyg-dropdown button:hover::after, .foreColor-trumbowyg-dropdown button:focus::after,
    .backColor-trumbowyg-dropdown button:hover::after,
    .backColor-trumbowyg-dropdown button:focus::after {
      content: " ";
      display: block;
      height: 27px;
      width: 27px;
      background: inherit;
      position: absolute;
      top: -5px;
      left: -5px;
      border: 1px solid #FFF;
      box-shadow: #000 0 0 2px;
      z-index: 10; }

/*
 * Buttons icons
 */
.trumbowyg-button-pane li button.trumbowyg-foreColor-button, .trumbowyg-button-pane li button.trumbowyg-backColor-button {
  background-image: url("./images/icons-black.81afa67688ec.png"); }

.trumbowyg-button-pane li button.trumbowyg-foreColor-button {
  background-position: -20px 5px; }

.trumbowyg-button-pane li button.trumbowyg-backColor-button {
  background-position: 5px 5px; }

.trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-foreColor-button, .trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-backColor-button {
  background-image: url("./images/icons-white.737d940464f6.png"); }

.trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-foreColor-button {
  background-position: -20px 5px; }

.trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-backColor-button {
  background-position: 5px 5px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .trumbowyg-button-pane li button.trumbowyg-foreColor-button, .trumbowyg-button-pane li button.trumbowyg-backColor-button {
    background-image: url("./images/icons-black-2x.f7341496f6bc.png") !important;
    background-size: 50px 25px !important; }
  .trumbowyg-button-pane li button.trumbowyg-foreColor-button {
    background-position: -20px 5px; }
  .trumbowyg-button-pane li button.trumbowyg-backColor-button {
    background-position: 5px 5px; }
  .trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-foreColor-button, .trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-backColor-button {
    background-image: url("./images/icons-white-2x.069ac595095f.png") !important; }
  .trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-foreColor-button {
    background-position: -20px 5px; }
  .trumbowyg-black .trumbowyg-button-pane li button.trumbowyg-backColor-button {
    background-position: 5px 5px; } }
